body {
  background-color: #fff;
  overflow: hidden;
}

section {
  width: 99%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: blue solid 0.5rem;
  border-left: blue solid 0.5rem;
  border-right: blue solid 0.5rem;
  border-radius: 16px;
}

.container1 {
  width: 99%;
  height: 99vh;
  border-radius: 16px;
}

.container1 .blocks {
  padding-top: 0rem;
}

button {
  width: 7.5rem;
  height: 2rem;
  font-size: 1.35rem;
  background-color: white;
  margin-top: 0.35rem;
  border-radius: 16px;
}

/*Container 1 STARTS here.*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.3rem;
  position: relative;
  background-color: blue;
  border-radius: 16px;
  height: 4.5rem;
  color: white;
}

nav .logo {
  width: 16rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.6rem;
  padding-left: 1rem;
}

nav .logo img {
  height: 2.8rem;
  width: 2rem;
  padding-left: 1rem;
}

nav .logo .text {
  width: 8rem;
  margin-top: 0.6rem;
  margin-left: 1rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30.5rem;
  padding-right: 1rem;
}

nav ul li {
  margin: 10px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

/*Steps*/
.steps {
  width: 90%;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps .step_box {
  background-color: #f3f3f3;
  border: solid black 2px;
  width: 7rem;
  height: 3.5rem;
  margin: 5px;
  padding-left: 1.5rem;
  border-radius: 1rem;
}

.steps .step_box h1 {
  font-size: 1.75rem;
  margin: 0.7rem;
  margin-left: 0.1rem;
}

.steps .step_box span {
  color: blue;
}

.steps hr {
  height: 10.25rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: black;
  border: solid 2px black;
}

/*Steps*/
/*Blocks*/
.blocks {
  width: 100%;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blocks .block1 {
  width: 50%;
  margin-top: 1rem;
}

.blocks .block1 .flex {
  margin: 5rem;
}

.blocks .block1 .texts {
  margin-left: 12rem;
  margin-top: -1rem;
  position: relative;
  width: 32rem;
  border: 2px solid black;
  border-radius: 16px;
  padding-bottom: 0rem;
}

.blocks .block1 .texts .details {
  font-size: 2.2rem;
  margin-left: 2.5rem;
  margin-top: 0.75rem;
}

.blocks .block1 .texts .fill1 {
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-left: 3.5rem;
}

.blocks .block1 .texts .fill {
  font-size: 1.4rem;
  margin-top: 0.25rem;
  margin-left: 3.5rem;
}

.blocks .block1 .texts .fill .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blocks .block1 .texts .fill .flex .otp {
  margin: 0.5rem;
  margin-top: -0.1rem;
}

.blocks .block1 .texts .fill .flex #otp {
  width: 7rem !important;
}

.blocks .block1 .texts .fill .flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blocks .block1 .texts .fill .flex2 .otp {
  margin: 0.5rem;
  margin-top: -0.1rem;
  width: 7rem;
}

.blocks .block1 .texts .date {
  font-size: 1rem;
  margin-top: 0.25rem;
  margin-left: 3.5rem;
}

.blocks .block1 .texts .date input {
  margin-top: 0.5rem;
  width: 10rem;
}

.blocks .block1 .texts .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blocks .block1 .texts .btns .btn {
  width: 9rem;
  font-size: 1.5rem;
  height: 2.5rem;
  margin-left: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.blocks .block1 .texts input {
  width: 20rem;
  height: 1.5rem;
  border-radius: 8px;
}

.blocks .block2 {
  width: 50%;
  margin-left: 20%;
  margin-top: 1rem;
}

.blocks .block2 img {
  height: 20rem;
}

/*Section 2 STARTS here.*/
.upload {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-left: 3rem;
}

.upload-btn {
  margin-left: 7.5rem;
  margin-top: 0.5rem;
}

select {
  border-radius: 1rem;
  width: 7rem;
  height: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.uploads {
  font-size: 1.5rem;
  margin-top: -3.5rem;
  margin-left: 3rem;
}

.uploads-btn {
  margin-left: 7.7rem;
  margin-top: 1rem;
}

.pan-details {
  font-size: 2rem;
  margin-left: 2.5rem;
  margin-top: 0.75rem;
}

/*Section4*/
.verify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#login {
  height: 2rem;
  width: 15rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

#check {
  height: 2rem;
  width: 15rem;
  border-radius: 1rem;
}
/*# sourceMappingURL=loggedin.css.map */