<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Document Verification Portal</title>

    <!-- CSS  -->
    
    <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <!-- CSS  -->
</head>

<body>
  <!----Vaibhav -->
<section >
    <div class="container1">
    <!----Navbar-->

    <nav>
        <div class="logo">
            <div class="img">
                <img src="{{url_for('static', filename='images/logo.png')}}">
            </div>
            <div class="text">
                User Document
                <br>
                Verification Portal
            </div>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/blogs">Blog</a></li>
        </ul>
    </nav>
    <!----Home-->
    <div class="blocks">
        <div class="block1">
            <div class="texts">
                <div class="text1">
                    Get Your Documents
                </div>
                <div class="text2">
                    Verified Physcially
                </div>
                <a href="/login"><button>Login</button></a>
                </div>
            </div>
        <div class="block2">
            <img src="{{url_for('static', filename='images/1.png')}}">
        </div>
        </div>
    </div>
</section>



<!---------ABOUT SECTION BEGINS HERE---->
<section id="about">
  
  
  <div class="about-blocks">
    <div class="about-block1">
      <div class="heading">ABOUT US </div>
      <div class="documentation">
        We have recently witnessed the tremendous rate of globalisation and its consequences for humanity. New technologies, such as the Internet and other networks, have both advantages and disadvantages. Speed, efficiency, better time management, access to an ocean of information, mobility, agility, automation, connectivity, remote sharing, better resource management, and the list goes on are just a few of the benefits of emerging technology.<br> In a country like India, for example , Document Verification is a very hectic process people need to stand in queue for the verification and the process is very slow. As also some people submit fake documents so the employees have to be very careful while checking Documents so it becomes very time consuming, sometimes the process takes months and months .So to overcome this issue we are making our project.
      </div>
    </div>
  
  
    <div class="about-block2">
      <img src="{{url_for('static', filename='images/doc.png')}}">
    </div>
  </div>


</section>


<!-----CONTACT Section-->

<div class="team" id="contact">
  <div class="team-heading">
    OUR TEAM
  </div>

  <div class="team-container">


    <div class="member">
      <div class="banner">
        <div class="mem-img">
          <img src="{{url_for('static', filename='images/vaibhav.JPG')}}">
        </div>

        <div class="mem-name">
          Vaibhav Prakash
        </div>

        <div class="mem-position">
          Developer
        </div>

        <div class="mem-email">
          <a href="mailto:vbhvprksh@gmail.com">vbhvprksh@gmail.com</a>
        </div>

        <div class="mem-contact">
          <a href="tel:6201143373">6201143373</a>
        </div>

      </div>
    </div>


    <div class="member">
      <div class="banner">
        <div class="mem-img">
          <img src="{{url_for('static', filename='images/vivek.JPG')}}">
        </div>

        <div class="mem-name">
          Vivek Sinha
        </div>

        <div class="mem-position">
          Designer
        </div>

        
        <div class="mem-email">
          <a href="mailto:jollylove95@gmail.com ">jollylove95@gmail.com </a>
        </div>

        <div class="mem-contact">
          <a href="tel:9006392336">9006392336</a>
        </div>

      </div>
    </div>


    <div class="member">
      <div class="banner">
        <div class="mem-img">
          <img src="{{url_for('static', filename='images/vaishnav.JPEG')}}">
        </div>

        <div class="mem-name">
          Vaishnav Suguru
        </div>

        <div class="mem-position">
          Developer
        </div>

        <div class="mem-email">
          <a href="mailto:vaishnav3912@gmail.com">vaishnav3912@gmail.com</a>
        </div>

        <div class="mem-contact">
          <a href="tel:7057106088">7057106088</a>
        </div>

      </div>
    </div>
  </div>
</div>

<!---FOOTER STARTS Here--->

<!---FOOTER ENDS Here--->

  </body>
</html>

