<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        
    <section class="login_blocks">
        <a href="/"><div class="cross">+</div></a>
        <div class="block1">
            <div class="container">
                <div class="htext">
                    Login
                </div>
    
                <form class="inputs" method="post">
                    <label>Email</label>
                    <input type="text" placeholder="Enter your Username" name="username">
                    <label>Password</label>
                    <input type="password" placeholder="Enter Your Password" name="password">
                    <button type="submit" value="Login" class="lsubmit">Login</button>
                </form>
    
                <div class="extras">
                    <h5>Not a Member - </h5><br>
                    <a href="/register">
                        <h4>  Signup</h4></a>
                    <h5>Forgot Password ??</h5>
                </div>
    
                
    
            </div>
        </div>
    
    
        <div class="tblock2">
            <img src="{{url_for('static', filename='images/2.png')}}">
        </div>
    </section>


        <script src="" async defer></script>
    </body>
</html>