<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Register page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <!----Login and Signup here-->

    <section class="login_blocks">
        <a href="/"><div class="cross">+</div></a>
        <div class="block1">
            <div class="container">
                <div class="htext">
                    Register
                </div>
                <form method="post" action="#" class="inputs">
                    <label>Enter Username</label>
                    <input type="text" placeholder="Enter Username" name="DUsername">
                    <label>Enter Password</label>
                    <input type="password" placeholder="Enter Password" name="pwd">
                    <label>Enter Email</label>
                    <input type="text" placeholder="Enter Email" name="EmailUser">
                    <button type="submit" value="Register" class="lsubmit">Register</button>
                </form>
                <div class="extras">
                    <a href="/login"><h5>Alredy a Member??</h5></a>
                    <h5>Forgot Password ??</h5>
                </div>
            </div>
        </div>
    
    
        <div class="tblock2">
            <img src="{{url_for('static', filename='images/2.png')}}">
        </div>
    </section>


        <script src="" async defer></script>
    </body>
</html>