<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Upload Documents</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='css/doc.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>

<!------HEADER Section Begins Here---->


<section >
    <div class="container1">
<!----Navbar-->


                <!----Home-->
    <div class="blocks">
        <div class="block1">


<!---PAN CARD BEGINS Here-->
<form action='/test' method="post">
    <div class = "uploads">
        <label ><b>Upload Pan Card Image</b></label><br>
                    <input type = "file" name="file_upload" id="file_upload" />
                    <input type = "file" name="file_uploadd" id="file_uploadd" />
    </div>
    <div>
    <button type="submit" class="check">Check</button>
    </div>
</form>

                        <div class="accuracy" style="text-align: center; padding-top: 50px">
                            <h5>{{pred}}</h5>
                            <h5>{{predd}}</h5>
                        </div>

<!----PAN CARD ENDS Here-->


<!-----AADHAR CARD STARTS Here-->

                    <form action='/aadhar' method="post" class="col s12" enctype="multipart/form-data">
                        <div class = "uploads">
                            <label for="first_name"><b>Upload Aadhar Card Image</b></label><br>
                            <div class = "file-field input-field">
                                        <input type = "file" name="file_uploadd" id="file_uploadd" />
                            </div>
                        </div>
                            <div class="row center">
                            <button type="submit" class="check">Check</button>
                            </div>
                    </form>
                            <div style="text-align: center; padding-top: 50px">
                                <h5>{{predd}}</h5>
                            </div>

            </div>
<!--AADHAR CARD ENDS HERE-->
            </div>



</section>

        


        
  <!--  Scripts-->
  <script src="./static/js/materialize.js"></script>
  <script type="text/javascript">
    document.getElementById('file_upload').onchange = function () {
      	document.getElementById('file_name').value = this.value.slice(12,100);
    };
  </script>
<script type="text/javascript">
    document.getElementById('file_uploadd').onchange = function () {
      	document.getElementById('file_name').value = this.value.slice(12,100);
    };
  </script>

    </body>
</html>